body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    text-align: center;
    margin: 0px;
}
p{
    margin-left: 30px;
    margin-right: 30px;
}

#main{
    background-color: antiquewhite;
}

h1{
    margin-top: 0px;
    padding-top: 15px;
}

#albums{
    background-color: #D7C8B6;
    margin-right: 15px; 
    margin-left: 15px;
}

ul{
    margin-top: 9px;
    padding-left: 0px;
    list-style: none;
    margin-bottom: 9px;
}

li{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
}

a{
    color: black;
    text-decoration: none;
    padding: 15px;
}
  
a:hover {
    background-color: white;
    color: #D7C8B6;
  }

hr{
    margin-right: 15px;
    margin-left: 15px;
}

img{
    max-width: 100%;
    margin-top: 20px;
}

#footer{
    background-color: #D7C8B6;
}

@media (min-width: 1018px){
    #tribute-info{
        margin-right: 300px;
        margin-left: 300px;
    }
}